{{#if users}} 
    <div class="col-6">
        <ul class="list-group">
        {{#each users}}
            {{#with this.dataValues}}
            <li class="list-group-item" style="padding-right: 0">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column justify-content-between">
                        <div class="fw-bold">{{ username }}</div>
                        <div class="small">
                        {{#if activity }}
                            <i class="bi bi-check-square"></i>
                        {{else}}
                            <span class="text-muted">
                                <i class="bi bi-square"></i>
                            </span>
                        {{/if}} Активность | Роль: {{ Role.dataValues.title }} |
                            Дата создания: {{ date created_at }} {{ time created_at }}
                        </div>
                    </div>
                    <div class="px-4 border-start text-center">
                        <a href="/users/{{ id }}/edit" class="{{#unless ../../access}}disabled{{/unless}}" title="Правка">
                            <i class="bi bi-pen-fill"></i>
                        </a><br/>
                        <a href="/users/{{ id }}/pwd" class="{{#unless ../../access}}disabled{{/unless}}" title="Пароль"> 
                            <i class="bi bi-key-fill"></i>
                        </a>
                    </div>
                </div>
            </li>
            {{/with}}
        {{/each}}
        </ul>
    </div>
{{/if }}
<div class="d-flex justify-content-start my-3">
    <a href="/users/create" class="btn btn-sm btn-75 btn-primary{{#unless access}} disabled{{/unless}}">
        <i class="bi bi-plus-square"></i> Создать
    </a>
</div>
