<div class="row mb-3">
    <div>
        <a href="/users/create" class="btn btn-sm btn-primary {{#unless access}}disabled{{/unless}}">
            <i class="bi bi-plus-square"></i> Создать
        </a>
    </div>
</div>
{{#if users}} 
<table class="table table-bordered table-sm table-striped table-hover border mb-3">
    <tr>
        <th scope="col" class="col-1 text-end">ID</th>
        <th scope="col" class="col-3">Имя</th>
        <th scope="col" class="col-3">Права</th>
        <th scope="col" class="col-1 text-center">Активность</th>
        <th scope="col" class="col-2 text-center">Время создания</th>
        <th scope="col" colspan="2" class="col-2 text-center">Действия</th>
    </tr>
    {{#each users}}
    {{#with this.dataValues}}
    <tr>
        <td class="text-end">{{ id }}</td>
        <td>{{ username}}</td>
        <td>{{ Role.dataValues.title }}</td> 
        <td class="text-center">
            {{#if activity }}
                <i class="bi bi-check-square"></i>
            {{else}}
                <i class="bi bi-square"></i>
            {{/if}}
        </td> 
        <td class="text-center">{{ date created_at }} {{ time created_at }}</td> 
        <td class="text-center">
            <a href="/users/edit/{{ id }}" class="{{#unless ../../access}}disabled{{/unless}}"> 
                <i class="bi bi-pen-fill"></i> Правка
            </a>
        </td>
        <td class="text-center">
            <a href="/users/pwd/{{ id }}" class="{{#unless ../../access}}disabled{{/unless}}"> 
                <i class="bi bi-key-fill"></i> Пароль
            </a>
        </td>  
    {{/with}}
    </tr>
{{/each}}
</table>
{{/if }}
