<div class="row mb-3">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row fw-bold">
                    <div class="col">Stock No</div>
                    <div class="col">{{ lot.stock_id }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Vehicle style</div>
                    <div class="col">{{ lot.VehicleStyle.dataValues.title }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Model</div>
                    <div class="col">{{ lot.Model.dataValues.title }}</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Vin</div>
                    <div class="col">{{ lot.vin }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Year</div>
                    <div class="col">{{ lot.year }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Status</div>
                    <div class="col">{{ lot.LotStatus.dataValues.title }}</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col">
        <ul class="list-group mb-2">
            <li class="list-group-item">
                Description
            </li>
            <li class="list-group-item">
                <div class="col">{{ lot.description }}</div>
            </li>
        </ul>
        <a href="/lots/{{ lot.id }}/edit" class="btn btn-primary btn-sm" title="Edit"> 
            <i class="bi bi-gear"></i> Edit lot
        </a>
    </div>
</div>
<p>
    <a href="#" id="btn-specifications">Show specifications</a>
</p>
<div class="row hidden" id="specifications">
    <ul class="col-4">
        {{#if specifications}}
        <ul class="list-group">
            {{#each specifications }}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">{{ this.title }}</div>
                    <div class="col">{{ this.itemTitle }}</div>
                </div>
            </li>
            {{/each}}
        </ul>    
        {{/if}}  
    </div>  
</div>

<h2 class="mt-4">Operations</h2>
{{#if operations}}
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th scope="col" class="col-1 text-end">ID. Date</th>
                <th scope="col" class="col-1 text-center">Direction</th>
                <th scope="col" class="col-2">Operation type</th>
                <th scope="col" class="col-1">Payment type</th>
                <th scope="col" class="col-1">Participant</th>
                <th scope="col" class="col-1 text-end">Amount</th>
                <th scope="col" class="col-3">Description</th>
                <th scope="col" class="col-1">Author</th>
                <th scope="col" class="col-1"></th>
            </tr>
        </thead>
        {{#each operations}}
            {{#with this.dataValues}}
                <tr>
                    <td class="text-end">{{ id }}. {{ date_reg }}</td>
                    <td class="text-center">{{ direction }}</td>
                    <td>{{ OperationType.dataValues.title }}</td>
                    <td>{{ PaymentType.dataValues.title }}</td>
                    <td>{{ Participant.dataValues.full_name }}</td>
                    <td class="text-end">{{ amount }}</td>
                    <td>{{ description }}</td>
                    <td>{{ User.dataValues.username }}</td>
                    <td class="text-center"><i class="bi bi-gear"></i></td>
                </tr>
            {{/with}}
        {{/each}}
    </table>
{{/if}}
<div class="card-footer d-flex justify-content-between mb-2">
    <a href="#" class="btn btn-primary btn-sm" id="btn-create-operation"> 
        <i class="bi bi-plus-square"></i> Create operation
    </a>
</div>
<div class="row hidden" id="create-operation">
    <div class="row">
        <div class="col col-md-6">
            <div class="card">
                <form action="/operations/lot/create" method="POST">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-3">
                                <label for="date_reg" class="form-label small">Date</label>
                            </div>
                            <div class="col">
                                <input type="text" id="date_reg" name="date_reg" 
                                    class="form-control form-control-sm form-input-required-date" value="{{ currentDate }}" />  
                                <span class="fs-75 text-muted fst-italic">YYYY-MM-DD</span>   
                            </div>
                        </div>    
                        <div class="row mb-3">
                            <div class="col-3">
                                <label for="participant_id" class="form-label small">Participant</label>
                            </div>
                            <div class="col">
                                <select class="form-select form-select-sm" id="participant_id" name="participant_id">
                                    <option value="" selected>Select...</option>
                                    {{#each participants }}
                                        <option value="{{ this.dataValues.id }}">{{ this.dataValues.full_name }}</option>
                                    {{/each}}
                                </select>    
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <label for="operation_type_id" class="form-label small">Operation type</label>
                            </div>
                            <div class="col">
                                <select class="form-select form-select-sm" id="operation_type_id" name="operation_type_id">
                                    <option value="" selected>Select...</option>
                                    {{#each operationTypes }}
                                        <option value="{{ this.dataValues.id }}">{{ this.dataValues.title }}</option>
                                    {{/each}}
                                </select>    
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <label for="payment_type_id" class="form-label small">Payment type</label>
                            </div>
                            <div class="col">
                                <select class="form-select form-select-sm" id="payment_type_id" name="payment_type_id">
                                    <option value="" selected>Select...</option>
                                    {{#each paymentTypes }}
                                        <option value="{{ this.dataValues.id }}">{{ this.dataValues.title }}</option>
                                    {{/each}}
                                </select>    
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <label for="amount" class="form-label small">Amount</label>
                            </div>
                            <div class="col-3">
                                <input type="text" id="amount" name="amount" 
                                    class="form-control form-control-sm number" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <label for="description" class="form-label small">Description</label>
                            </div>
                            <div class="col">
                                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" id="button-submit" class="btn btn-sm btn-primary" disabled>
                            <i class="bi bi-save2"></i> Save
                        </button>
                    </div>
                    <input type="hidden" name="lot_id" value="{{ lot.id }}" />
                </form>
            </div>
        </div>    
    </div>
</div>

</div>
{{{ script }}}