{{#if brands}}
    <div class="row">
        <div class="col-6">
            <table class="table table-sm table-bordered">
            {{#each brands}}
                {{#with this.dataValues}}
                <tr>
                    <td class="text-end">{{ id }}</td>
                    <td>{{ title }}</td>
                    <td>{{ Origin.dataValues.title }}</td>
                    <td class="text-center">
                        <a href="/brands/{{ id }}/models">Модели</a>
                    </td>
                    <td class="text-center">
                        <a href="/brands/{{ id }}/edit" class="{{#unless ../../access}} disabled{{/unless}}" title="Правка"> 
                            <i class="bi bi-gear"></i>
                        </a>
                    </td>
                </tr>
                {{/with}}
            {{/each}}
            </table>
        </div>
    </div>            
{{/if }}
<div class="d-flex justify-content-start my-3">
    <a href="/brands/create" class="btn btn-sm btn-primary{{#unless access}} disabled{{/unless}}">
        <i class="bi bi-plus-square"></i> Создать
    </a>
</div>
