{{#if brands}}
    <div class="columns-4">
    {{#each brands}}
        {{#with this.dataValues}}
        <div class="column-item border rounded">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column justify-content-between">
                    <div class="fw-bold">{{ title }}</div>
                    <div class="small">
                    {{#if activity }}
                        <i class="bi bi-check-square"></i>
                    {{else}}
                        <span class="text-muted">
                            <i class="bi bi-square"></i>
                        </span>
                    {{/if}} Активность | Страна: {{ Origin.dataValues.title }}
                    </div>
                </div>
                <div class="px-3 border-start">
                    <a href="/brands/{{ id }}/models" class="{{#unless ../../access}}disabled{{/unless}}" title="Модели">
                        <i class="bi bi-card-list"></i>
                    </a><br/>
                    <a href="/brands/{{ id }}/edit" class="{{#unless ../../access}}disabled{{/unless}}" title="Правка"> 
                        <i class="bi bi-pen-fill"></i>
                    </a>
                </div>
            </div>
        </div>
        {{/with}}
    {{/each}}
    </div>
{{/if }}
<div class="d-flex justify-content-start my-3">
    <a href="/brands/create" class="btn btn-sm btn-primary{{#unless access}} disabled{{/unless}}">
        <i class="bi bi-plus-square"></i> Создать
    </a>
</div>
