{{#if brands}}
    <ol class="list-group list-group-numbered">
    {{#each brands}}
        {{#with this.dataValues}}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{ title }}</div>
                    <div class="small">
                    {{#if activity }}
                        <i class="bi bi-check-square"></i>
                    {{else}}
                        <span class="text-secondary">
                            <i class="bi bi-square"></i>
                        </span>
                    {{/if}} Активность |
                    Страна: {{ Origin.dataValues.title }} |
                    <span class="text-muted">
                        Дата создания: {{ date created_at }} {{ time created_at }}
                    </span>
                </div>    
            </div>
            <div>
                <a href="/brands/{{ id }}/models" class="btn btn-sm btn-75 btn-primary{{#unless ../../access}} disabled{{/unless}}">
                    <i class="bi bi-card-list"></i> Модели
                </a>
                <a href="/brands/{{ id }}/edit" class="btn btn-sm btn-75 btn-primary{{#unless ../../access}} disabled{{/unless}}"> 
                    <i class="bi bi-pen-fill"></i> Правка
                </a>
            </div>
        </li>
        {{/with}}
    {{/each}}
    </ol>
{{/if }}
<div class="d-flex justify-content-start my-3">
    <a href="/brands/create" class="btn btn-sm btn-75 btn-primary{{#unless access}} disabled{{/unless}}">
        <i class="bi bi-plus-square"></i> Создать
    </a>
</div>
