<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <form action="/operations/edit" method="POST">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col small">
                            Record properties
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-3">
                             <label for="id" class="form-label small">ID</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="id" class="form-control form-control-sm" 
                                value="{{ operation.id }}" readonly />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                             <label for="date_reg" class="form-label small">Date</label>
                        </div>
                        <div class="col">
                            <input type="text" id="date_reg" name="date_reg" 
                                class="form-control form-control-sm form-input-required-date" value="{{ operation.date_reg }}" />  
                            <span class="fs-75 text-muted fst-italic">YYYY-MM-DD</span>   
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                             <label for="customer_id" class="form-label small">Customer</label>
                        </div>
                        <div class="col">
                            <select class="form-select form-select-sm" id="customer_id" name="customer_id">
                                {{#each customers }}
                                    <option value="{{ this.dataValues.id }}"
                                        {{#if (equals this.dataValues.id ../operation.customer_id)}}selected{{/if}}
                                    >{{ this.dataValues.title }}</option>
                                {{/each}}
                            </select>    
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                             <label for="participant_id" class="form-label small">Participant</label>
                        </div>
                        <div class="col">
                            <select class="form-select form-select-sm" id="participant_id" name="participant_id">
                                <option value="">Select...</option>
                                {{#each participants }}
                                    <option value="{{ this.dataValues.id }}"
                                        {{#if (equals this.dataValues.id ../operation.participant_id)}}selected{{/if}}
                                    >{{ this.dataValues.full_name }}</option>
                                {{/each}}
                            </select>    
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                             <label for="operation_type_id" class="form-label small">Operation type</label>
                        </div>
                        <div class="col">
                            <select class="form-select form-select-sm" id="operation_type_id" name="operation_type_id">
                                <option value="">Select...</option>
                                {{#each operationTypes }}
                                    <option value="{{ this.dataValues.id }}"
                                        {{#if (equals this.dataValues.id ../operation.operation_type_id)}}selected{{/if}}
                                    >{{ this.dataValues.title }}</option>
                                {{/each}}
                            </select>    
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                             <label for="payment_type_id" class="form-label small">Payment type</label>
                        </div>
                        <div class="col">
                            <select class="form-select form-select-sm" id="payment_type_id" name="payment_type_id">
                                <option value="">Select...</option>
                                {{#each paymentTypes }}
                                    <option value="{{ this.dataValues.id }}"
                                        {{#if (equals this.dataValues.id ../operation.payment_type_id)}}selected{{/if}}
                                    >{{ this.dataValues.title }}</option>
                                {{/each}}
                            </select>    
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="amount" class="form-label small">Amount</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="amount" name="amount" value="{{ operation.amount }}"
                                class="form-control form-control-sm number" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="description" class="form-label small">Description</label>
                        </div>
                        <div class="col">
                            <textarea class="form-control" id="description" name="description" rows="3">{{ operation.description }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="/operations/{{ operation.id }}/details" class="btn btn-sm btn-primary">
                        <i class="bi bi-arrow-left-square"></i> Details
                    </a>
                    <button type="submit" id="button-submit" class="btn btn-sm btn-primary">
                        <i class="bi bi-save2"></i> Save
                    </button>
                </div>
                <input type="hidden" name="id" value="{{ operation.id }}" />
            </form>
        </div>
    </div>
</div>